body {
    font-style: sans-serif;
}

header {
    
    padding-top: 15px;
    padding-left: 25px;
    padding-bottom: 25px;
    position: absolute;
    
}

/* Underlines */

#underline-home {
    position: relative;
        display: inline-block;
        padding-bottom: 5px; /* Ajuste esse valor para controlar a distância entre o texto e o sublinhado */
    }    

    #underline-home::after {    
    content: "";
    position: absolute;
    bottom: 0;
    left: 30px;
    width: 40%;
    height: 3px; /* Ajuste esse valor para controlar a espessura da linha de sublinhado */
    background-color: #f67467;
}

#underline-contato {
    position: relative;
    display: inline-block;
    padding-bottom: 5px
}

#underline-contato::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 40px;
    width: 40%;
    height: 3px;
    background-color: #fe7467;
}

.produtos-catalogo h1 {
    position: relative;
    padding-bottom: 15px;
}

.produtos-catalogo h1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 45%;
    width: 10%;
    height: 6px;
    background-color: #fe7467
}

header {
    width: 100%;
    height: 100px;

    display: flex;
}

.logo-container {
    display: flex;
    
}



header nav {
    display: flex;
    
}
header nav li {
    justify-content: space-between;
}

.menu-top {
    display: flex;
    width: auto;
    margin: 0;
    
    
}

.menu-top li {
    display: inline-block;
    padding: 20px;
    

}

.menu-top li a {
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.5em;
    padding-left: 1em;
    padding-right: 1em;   
    padding-top: 0,5em;
    padding-bottom: 0,5em;
    border-radius: 10px;
}

/*Contato*/

.banner-contato {
    height: 100vh;
    background-image: url(../image/contatoheader.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;  
}

.titulo-contato {
    width: 400px;
    padding-top: 30%;
    padding-left: 20%;
}

.contato { 
    font-size: 1em;
    flex-direction: column;    
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align:  center;
    
}

.contato h1 {
    color: #505050;
    position: relative;
    display: inline-block;
    padding-bottom: 25px;
}

.contato h1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 35%;
    width: 35%;
    height: 6px;
    background-color: #fe7467
}

.contato p {
    font-size: 1.5em;   
    color: #505050;
}

/*Contato*/





    

   
 





